src/template/index.pug
doctype html
html(lang="en" prefix="og: http://ogp.me/ns#")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")

    meta(name="description" content="Таблица с пагинацией")
    title Title

    link(rel="stylesheet" href="./css/style.css")
  body
    .wrapper
      .container
        .breadcrumbs
          a.breadcrumbs__item(href="#") Главная
          a.breadcrumbs__item(href="#") Закупки и тендеры
          span.breadcrumbs__item Компании

      .container
        h1 Компании
      .container.table__container
        .table__wrapper
          .loader
            span.loader__item
            span.loader__item
            span.loader__item
          table.table
            tbody
              tr
                th ID
                th Адрес

      .container
        .footer-info
          ul.pagination
          .pages-info Страница <span class="pages-info__current">0</span> из <span class="pages-info__all">1758</span> по <span class="pages-info__rows">0</span> строк (всего строк: <span class="pages-info__total-lines">35153</span>)

    script(src="./js/jquery-3.6.0.min.js")
    script(src="./js/main.js")

build/index.html
<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="description" content="Таблица с пагинацией">
    <title>Таблица с пагинацией</title>
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <div class="breadcrumbs"><a class="breadcrumbs__item" href="#">Главная</a><a class="breadcrumbs__item" href="#">Закупки и тендеры</a><span class="breadcrumbs__item">Компании</span></div>
      </div>
      <div class="container">
        <h1>Компании</h1>
      </div>
      <div class="container table__container">
        <div class="table__wrapper">
          <div class="loader"><span class="loader__item"></span><span class="loader__item"></span><span class="loader__item"></span></div>
          <table class="table">
            <tbody>
              <tr>
                <th>ID</th>
                <th>Адрес</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="container">
        <div class="footer-info">
          <ul class="pagination"></ul>
          <div class="pages-info">Страница <span class="pages-info__current">0</span> из <span class="pages-info__all">1758</span> по <span class="pages-info__rows">0</span> строк (всего строк: <span class="pages-info__total-lines">35153</span>)</div>
        </div>
      </div>
    </div>
    <script src="./js/jquery-3.6.0.min.js"></script>
    <script src="./js/main.js"></script>
  </body>
</html>
